@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SquarePeg';
  src: url('./Fonts/SquarePeg-Regular.ttf');
}
@font-face {
  font-family: 'Nunito';
  src: url('./Fonts/Nunito-ExtraLight.ttf');
}
